/* General Styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.5rem;
}

.calcContainer{
    margin: 0 auto;
    width: 50%;
    position: relative;
    top: 5vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 100px);
    grid-template-areas: 
    "display display display display"
    "plus minus mult divide"
    "seven eight nine equals"
    "four five six equals"
    "one two three equals"
    "zero point clear equals";
}

/* Individual Classes */
.display{
    grid-area: display;
    display: flex;
    justify-content: flex-end;
}

.displayNum{
    position: relative;
    right: 5%;
    font-size: 2.5rem;
}

.plus{
    grid-area: plus;
}

.minus{
    grid-area: minus;
}

.mult{
    grid-area: mult;
}

.divide{
    grid-area: divide;
}

.seven{
    grid-area: seven;
}

.eight{
    grid-area: eight;
}

.nine{
    grid-area: nine;
}

.four{
    grid-area: four;
}

.five{
    grid-area: five;
}

.six{
    grid-area: six;
}

.one{
    grid-area: one;
}

.two{
    grid-area: two;
}

.three{
    grid-area: three;
}

.zero{
    grid-area: zero;
}

.point{
    grid-area: point;
}

.clear{
    grid-area: clear;
}

.equals{
    grid-area: equals;
}


/* Grouped classes */
.grey{
    background-color: lightgray;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.black{
    background-color: black;
    color: white;
    display: flex;
    align-items: flex-end;
}

.equals{
    background-color: orange;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.bckgOpac:hover{
    opacity: 0.8;
}

.bckgOpac:active{
    transform: scale(1.025);
}